<h1>Your Order</h1>

  <table>
    <tr>
      <th>Customer</th>
      <td><%= @order.user.name if @order.user %></td>
    </tr>
    <tr>
      <th>Status:</th>
      <td><%= @order.status %></td>
    </tr>
    <tr>
      <th>Items:</th>
      <td><%= @order.order_items.count %></td>
    </tr>
    <tr>
      <th></th>
      <th> Title </th>
      <th> Quantity </th>
      <th> Unit Price </th>
      <th> Subtotal </th>
      <th> Images </th>
      <th> Remove </th>
    </tr>
   <tr> 
    <% @order.order_items.each do |item| %>
    <td></td>
	<td><%= item.product.title %></td>
    <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
    <td><%= print_price (item.product.price) %></td>
	<td><%= print_price (item.subtotal) %></td>
	<td><div class="span2"><%= image_tag "/images/products/#{item.product.image_url}" %></div></td>
	<td><%= button_to "Remove", item, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
 <% end %>

<% if current_user && !current_user.addresses.empty? %>

<tr>
    <th>Shipping To:</th>
    <td>
      <%= form_for @order, :url => purchase_order_path(@order), :method => :put do |f| %>
        <%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %>
       <td><%= f.submit "Submit Order" %></td>
       <% end %> 
    </td>  
    <td><%= link_to "New Address", new_address_path %></td>
</tr>
	<% end %>
 
  </table>
  <tr>
		<th>Order Total</th>
		<td><%= print_price @order.total %></td>
	</tr>
	<p><%= button_to "Empty Cart", @order, :confirm => 'Are you sure?', :method => :delete %>
  </p>
  <p>
		<%= link_to "Edit", edit_order_path(@order) %> |
		<%= link_to "Products Home", products_path %>
	</p>
	